/*====================================================================================================*/
/* META INFORMATION */
/*====================================================================================================*/

/*

    ** FILE STRUCTURE **

    This css file is separated into logical sections, with subsection headers integrated within. The start
    of these sections are denoted by comments such as:

/*=============================================================*/
/* SECTION NAME */
/*=============================================================*\

    The end of each primary section is marked with a comment such as: /* END ROOT STYLES *\
    Subsections have a single header comment such as:

    /*-- subsection name ------------------------------------------*\



    ** ORGANIZATION NOTES **

    - root variables are separated into logical groups, which are then sorted alphabetically
    - style selectors are organized by order of appearance in the related html document (universal classes notwithstanding).
    - universal classes selectors are organized by order of specificity, from most general to most specific
    - style properties are organized alphabetically

*/

/* END META INFORMATION */

/*====================================================================================================*/
/* ROOT STYLES */
/*====================================================================================================*/

:root {
    /*----- colors -----*/
    --barons-black: #1b1818;
    --barons-brown-light: #c99f67;
    --barons-brown-dark: #745634;
    --barons-gold: #cdb14d;
    --barons-grey-dark: #221f1f;
    --barons-grey: #403c3c;
    --barons-grey-light: #837978;
    --barons-red: #932f33;
    --barons-white: #f3e8c2;

    --black: #000;
    --gold: #ffd700;
    --white: #fff;

    /*----- fonts -----*/
    --sans-font-1: "Oswald";
    --sans-font-2: "Oxanium";
}

* {
    color: var(--barons-black);
}

footer {
    margin-top: 60px;
}

/* END ROOT STYLES */

/*====================================================================================================*/
/* HERO STYLES */
/*====================================================================================================*/

section#hero {
    padding: 32px 12px 40px;
}

.heading-subtext {
    text-align: center;
    opacity: 0.7;
    text-transform: uppercase;
    font-size: 0.85rem;
}

#hero-txt {
    margin-top: 16px;
}

#hero-txt p {
    padding-top: 16px;
    letter-spacing: 0.1px;
}

/* END HERO STYLES */

/*====================================================================================================*/
/* QUICK LINKS STYLES */
/*====================================================================================================*/

section#quick-links-box {
    background-color: var(--barons-black);
    padding: 28px 0 16px;
}

#quick-links-box .section-heading,
#quick-links-box .heading-subtext {
    color: var(--white);
}

#quick-links {
    padding: 28px 12px 16px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-evenly;
    gap: 16px;
    max-width: 400px;
    margin: 0 auto;
}

.quick-link {
    text-align: center;
    display: block;
    width: 120px;
    background-color: var(--barons-gold);
    padding: 6px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 500;
    letter-spacing: 0.1px;
}

#primary-contact {
    width: 100%;
    padding: 12px;
    margin: 0 auto;
    max-width: 400px;
    border-radius: 4px;
}

#primary-contact * {
    color: var(--white);
}

#pc-heading {
    text-transform: uppercase;
    font-size: 1.35rem;
    font-weight: 500;
    text-align: center;
}

#pc-contact-info {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

#pc-phone-email,
#pc-address {
    padding: 0 12px;
}

#pc-contact-info h3 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.05rem;
    color: var(--barons-gold);
}

#pc-contact-info a {
    font-weight: 300;
    font-size: 0.95rem;
}

#email {
    padding-top: 8px;
}

#pc-socials {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.pc-social-link,
.pc-social-icon {
    width: 24px;
}

/* END QUICK LINKS STYLES */

/*====================================================================================================*/
/* FAN SECTION STYLES */
/*====================================================================================================*/

/* END FAN SECTION STYLES */

/*====================================================================================================*/
/* BUSINESS INQUIRIES SECTION STYLES */
/*====================================================================================================*/

/* END BUSINESS INQUIRIES SECTION STYLES */

/*====================================================================================================*/
/* PLAYER SECTION STYLES */
/*====================================================================================================*/

/* END PLAYER SECTION STYLES */

/*====================================================================================================*/
/* MEDIA SECTION STYLES */
/*====================================================================================================*/

/* END MEDIA SECTION STYLES */