/*====================================================================================================*/
/* META INFORMATION */
/*====================================================================================================*/

/*

    ** FILE STRUCTURE **

    This css file is separated into logical sections, with subsection headers integrated within. The start
    of these sections are denoted by comments such as:

    /*=============================================================*/
    /* SECTION NAME */
    /*=============================================================*\

    The end of each primary section is marked with a comment such as: /* END ROOT STYLES *\
    Subsections have a single header comment such as:

    /*-- subsection name ------------------------------------------*\



    ** ORGANIZATION NOTES **

    - root variables are separated into logical groups, which are then sorted alphabetically
    - style selectors are organized by order of appearance in the related html document (universal classes notwithstanding).
    - universal classes selectors are organized by order of specificity, from most general to most specific
    - style properties are organized alphabetically

*/

/* END META INFORMATION */


/*====================================================================================================*/
/* ROOT STYLES */
/*====================================================================================================*/

:root {

    /*----- colors -----*/
    --barons-black: #1b1818;
    --barons-brown-light: #c99f67;
    --barons-brown-dark: #745634;
    --barons-gold: #cdb14d;
    --barons-grey-dark: #221f1f;
    --barons-grey: #403c3c;
    --barons-grey-light: #837978;
    --barons-red: #932f33;
    --barons-white: #f3e8c2;

    --black: #000;
    --gold: #ffd700;
    --white: #fff;

    /*----- fonts -----*/
    --sans-font-1: "Oswald";
    --sans-font-2: "Oxanium";
    
}

/* END ROOT STYLES */


/*====================================================================================================*/
/* HERO STYLES - NEXT GAME */
/*====================================================================================================*/

section#hero {
    padding: 32px 12px 40px;
}

#hero .section-heading {
    color: var(--barons-black);
}

/*-- next game countdown ------------------------------------------------------------------------------*/
#countdown-box {
    align-items: center;
    border-bottom: 1px solid #00000030;
    border-top: 1px solid #00000030;
    color: var(--barons-black);
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 16px;
    padding: 6px 0 4px;
}

.time {
    text-align: center;
}

.time span {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
}

.time label {
    font-size: 0.6rem;
    letter-spacing: 0.05em;
    opacity: 0.7;
    text-transform: uppercase;
    transition: opacity 0.3s ease-in;
}

body.nav-open .time label {
    opacity: 0;
    transition: opacity 0.3s ease;
}

/*-- next game logos area ------------------------------------------------------------------------------*/
#next-game-box {
    align-items: center;
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
}

.next-game-logo {
    height: 100px;
}

#vs {
    color: var(--barons-black);
}

/*-- next game info area ------------------------------------------------------------------------------*/
#next-game-info {
    border-bottom: 1px solid #00000030;
    border-top: 1px solid #00000030;
    margin-top: 20px;
    padding: 6px 0;
}

#next-game-info p {
    color: var(--barons-black);
    text-align: center;
}

#next-game-time {
    font-weight: 500;
    text-transform: uppercase;
}

/*-- next game buttons ------------------------------------------------------------------------------*/
#next-game-links {
    align-items: center;
    display: flex;
    gap: 36px;
    height: 40px;
    justify-content: center;
    margin-top: 20px;
}

.next-game-btn {
    background-color: var(--barons-gold);
    border: none;
    border-radius: 4px;
    color: var(--barons-black);
    font-weight: 500;
    height: 36px;
    text-transform: uppercase;
    width: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* END HERO STYLES - NEXT GAME */


/*====================================================================================================*/
/* UPCOMING SCHEDULE SECTION */
/*====================================================================================================*/

section#upcoming-dates {
    align-items: center;
    background-color: var(--barons-black);
    display: flex;
    flex-direction: column;
    padding: 32px 12px 40px;
}

/*-- upcoming schedule list --------------------------------------------------------------------------*/
#upcoming-schedule {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.upcoming-game {
    align-items: center;
    background-color: var(--white);
    border-radius: 6px;
    color: var(--barons-black);
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    padding: 6px 4%;
    width: 96%;
}

.upcoming-opponent {
    align-items: center;
    display: flex;
    gap: 2.25vw;
    justify-content: center;
}

.at-vs, .upcoming-info {
    font-size: 0.8rem;
    text-align: center;
}

.upcoming-logo {
    height: 55px;
}

.upcoming-date {
    font-weight: 500;
}

.upcoming-tickets-icon {
    height: 21px;
    margin-top: 4px;
}

/*-- full schedule link ------------------------------------------------------------------------------*/
#schedule-btn {
    background-color: var(--barons-gold);
    border-radius: 4px;
    color: var(--barons-black);
    font-weight: 500;
    margin-top: 20px;
    padding: 8px 16px;
    text-transform: uppercase;
}

/* END UPCOMING SCHEDULE SECTION */


/*====================================================================================================*/
/* NEWS SECTION */
/*====================================================================================================*/

section#news {
    padding: 32px 12px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#news-articles {
    max-width: 450px;
}

.news-article {
    display: flex;
    gap: 10px;
    margin-top: 22px;
}

#top-article {
    display: block;
}

#top-article .news-img {
    width: calc(100vw - 24px);
    max-width: 450px;
    height: calc(66vw - 12px);
    max-height: 300px;
    border-radius: 5px;
}

#news .section-heading {
    color: var(--barons-black);
}

.news-heading {
    color: var(--barons-black);
    display: block;
}

.news-img {
    height: 22vw;
    max-height: 102px;
    width: 34%;
    border-radius: 3px;
    object-fit: cover;
    object-position: 50% 33%;
}

#other-articles .news-heading {
    width: 66%;
    font-size: 1.1rem;
    margin-top: -3px;
}

/* END NEWS SECTION */