/*====================================================================================================*/
/* START ROOT STYLES */
/*====================================================================================================*/

/*-- start imports -----------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Sancreek&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
/*-- end imports -------------------------------------------------------------------------------------*/

:root {
    --black: #000;
    --gold: #ffd700;
    --white: #fff;
    --barons-black: #1b1818;
    --barons-gray-dark: #221f1f;
    --barons-gray: #403c3c;
    --barons-gray-light: #837978;
    --barons-gold: #cdb14d;
    --barons-gold-alt: #f8cf50;
    --barons-white: rgb(243, 232, 194);
    --barons-brown: rgb(201, 159, 103);
    --barons-brown-dark: rgb(116, 86, 52);
    --barons-red: rgb(147, 47, 51);

    --header-font-primary: "Oswald";
    --stylized-font-western-1: "Sancreek";
    --stylized-font-western-2: "Rye";
    --stylized-font-shadow: "Vast Shadow";
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--barons-gray);
    color: var(--barons-white);
    height: 100vh;
    width: 100vw;
}

.hidden {
    display: none !important;
}

.inline-block {
    display: inline-block !important;
}

/*-- start header styles -----------------------------------------------------------------------------*/

header {
    align-items: center;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100vw;
}

#top-header {
    align-items: center;
    display: flex;
    height: 108px;
    justify-content: space-between;
    width: 100vw;
}

#header-logo {
    height: 80px;
    padding-left: 14px;
    z-index: 999;
}

#header-partners {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 146px;
}

#presented-by {
    display: inline-block;
    font-family: var(--stylized-font-western-2);
    font-size: 8px;
}

.header-partner {
    margin: 0 auto;
    max-height: 50px;
    max-width: 70px;
}

/*-- end header styles -------------------------------------------------------------------------------*/

/*-- start nav styles --------------------------------------------------------------------------------*/

nav {
    width: 100vw;
}

#mobile-header-nav-list {
    align-items: baseline;
    display: flex;
    justify-content: space-evenly;
}

.mobile-nav-link {
    color: var(--barons-white);
    display: inline-block;
    font-family: var(--header-font-primary);
    font-weight: 400;
    height: 100%;
    padding: 10px 13px 11px;
    text-align: center;
}

.mobile-nav-link:active {
    background-color: var(--barons-white);
    color: var(--black);
}

/*-- end nav styles ----------------------------------------------------------------------------------*/

/*====================================================================================================*/
/* END ROOT STYLES */
/*====================================================================================================*/