/*====================================================================================================*/
/* START ROOT STYLES */
/*====================================================================================================*/

/*-- start imports -----------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Sancreek&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');
/*-- end imports -------------------------------------------------------------------------------------*/

:root {
    --barons-black: #000;
    --barons-gray-dark: #1b1818;
    --barons-gray: #403c3c;
    --barons-gray-light: #837978;
    --barons-gold: #cdb14d;
    --barons-gold-alt: #f8cf50;

    --stylized-font-western-1: "Sancreek";
    --stylized-font-western-2: "Rye";
    --stylized-font-shadow: "Vast Shadow";
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--barons-gray-dark);
    color: #fff;
}

.hidden {
    display: none !important;
}

/*-- start header styles -----------------------------------------------------------------------------*/
/*-- end header styles -------------------------------------------------------------------------------*/

/*====================================================================================================*/
/* END ROOT STYLES */
/*====================================================================================================*/