
/*
styles for non-section elements (for example, h1, h2, h3, p) appear in UNIVERSAL STYLES
at top of file
*/

/*====================================================================================================*/
/* START UNIVERSAL STYLES */
/*====================================================================================================*/

/*-- start imports -----------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Sancreek&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
/*-- end imports -------------------------------------------------------------------------------------*/

:root {
    --black: #000;
    --gold: #ffd700;
    --white: #fff;
    --barons-black: #1b1818;
    --barons-brown: #c99f67;
    --barons-brown-dark: #745634;
    --barons-gold: #cdb14d;
    --barons-gold-alt: #f8cf50;
    --barons-grey-dark: #221f1f;
    --barons-grey: #403c3c;
    --barons-grey-light: #837978;
    --barons-red: #932f33;
    --barons-white: #f3e8c2;
    --grey-subtext: #ffffff55;

    --sans-font-1: "Oswald";
    --sans-font-2: "Monda";
    --sans-font-3: "Source Code Pro";
    --stylized-font-western-1: "Sancreek";
    --stylized-font-western-2: "Rye";
    --stylized-font-shadow: "Vast Shadow";
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100vw;
}

h2 {
    color: var(--white);
    font-family: var(--sans-font-1);
    letter-spacing: 0.5px;
}

.hidden {
    display: none;
}

*:active {
    -webkit-tap-highlight-color: transparent;
}

/*-- start header styles -----------------------------------------------------------------------------*/

header {
    align-items: center;
    background-color: var(--barons-black);
    border-bottom: 3px solid var(--barons-gold);
    box-shadow: 0 0 5px 1.5px var(--black);
    display: flex;
    height: 70px;
    justify-content: space-between;
    padding: 18px;
    position: fixed;
    width: 100vw;
    z-index: 999;
}

#header-logo-link {
    height: 80px;
    width: 81.59px;
    margin: 28px 0 0 -10px;
}

#oil-barons-header-logo {
    height: 100%;
    width: 100%;
}

#mobile-header-icons {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 80px;
}

#tickets-btn {
    height: 20px;
    margin-top: 2px;
}

/*-- end header styles -------------------------------------------------------------------------------*/

/*-- start nav styles --------------------------------------------------------------------------------*/

.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    height: 20px;
    position: relative;
    width: 26px;
}

.hamburger, .hamburger::before, .hamburger::after {
    background: var(--white);
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    transition: all 0.3s ease;
    width: 26px;
}

.hamburger::before {
    top: -8px;
}

.hamburger::after {
    top: 8px;
}

.menu-toggle.is-active .hamburger {
    background: transparent;
}

.menu-toggle.is-active .hamburger::before {
    top: 0;
    transform: rotate(45deg);
}

.menu-toggle.is-active .hamburger::after {
    top: 0;
    transform: rotate(-45deg);
}

#mobile-nav {
    padding-top: 70px;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
}

#mobile-nav.is-open ~ footer .footer-nav-link {
    visibility: hidden;
    opacity: 0%;
    transition: all 0.3s ease;
}

#nav-primary-container {
    visibility: hidden;
    transform: translateX(-100%);
    width: 35%;
    min-width: 100px;
    height: 100%;
    background-color: var(--barons-black);
    z-index: 998;
    transition: all 0.3s ease;
}

#mobile-nav.is-open #nav-primary-container {
    transform: translateX(0);
    visibility: visible;
    transition: all 0.5s ease;
}

#nav-secondary-container {
    visibility: hidden;
    transform: translateX(-250%);
    width: 65%;
    height: 100%;
    max-width: calc(100%-100px);
    background-color: white;
    z-index: 997;
    transition: all 0.25s ease-in;
}

#mobile-nav.is-open #nav-secondary-container {
    transform: translateX(0);
    visibility: visible;
    transition: all 0.5s ease;
}

#nav-primary, .sub-list {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}

.primary-li, .sub-list a {
    display: inline-block;
    text-transform: uppercase;
    font-family: var(--sans-font-1);
}

.primary-li {
    font-size: 15px;
    color: var(--white);
    padding: 12px 16px;
    position: relative;
    width: 100%;
}

.active.primary-li {
    color: var(--barons-gold);
}

.active.primary-li::after {
    content: "";
    display: block;
    height: 10px;
    width: 0;
    background-color: var(--white);
    position: absolute;
    top: 18px;
    right: -5px;
    transform: rotate(45deg);
    opacity: 0%;
    transition: opacity 0.3s ease-out, width 0.3s ease-out;
}

#mobile-nav.is-open .active.primary-li::after {
    opacity: 100%;
    width: 10px;
    transition: opacity 0.3s ease-in, width 0.3s ease-in;
}

.sub-list {
    display: none;
    list-style: none;
}

.sub-list.active {
    display: block;
}

.sub-list li {
    border-bottom: 0.25px solid #1b181888;
    padding: 13.25px 18px;
    height: 46.5px;
    vertical-align: middle;
}

.sub-list li:last-of-type {
    border-bottom: none;
}

.sub-list a {
    color: var(--barons-black);
    font-size: 13px;
    display: block;
}

/*-- end nav styles ----------------------------------------------------------------------------------*/

/*-- start footer styles -----------------------------------------------------------------------------*/

footer {
    align-items: center;
    background-color: var(--barons-black);
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 15px 0;
    width: 100vw;
}

#footer-header {
    font-weight: 400;
}

.footer-row {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    max-width: 500px;
    width: 100%;
}

.footer-links-column {
    padding-left: 5%;
}

.footer-nav-link {
    color: var(--white);
    opacity: 75%;
    font-family: var(--sans-font-1);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 28px;
    visibility: visible;
    transition: all 0.3s ease;
}

.footer-divider {
    border: 1px solid #ffffff1a;
    max-width: 700px;
    width: 100%;
}

.social-link {
    height: 20px;
}

.social-icon {
    height: 100%;
}

#copyright {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}

#copyright, .privacy-terms-link, .privacy-terms-link:hover, .privacy-terms-link:active, .privacy-terms-link:visited {
    color: var(--grey-subtext);
}

/*-- end footer styles -------------------------------------------------------------------------------*/





/*-- TEMPORARY STYLES --*/

.inline-block {
    display: inline-block !important;
}

main {
    height: 500vh;
    width: 100vw;
}

/*-- TEMPORARY STYLES --*/





/*====================================================================================================*/
/* END UNIVERSAL STYLES */
/*====================================================================================================*/