
/*
styles for non-section elements (for example, h1, h2, h3, p) appear in UNIVERSAL STYLES
at top of file
*/

/*====================================================================================================*/
/* START UNIVERSAL STYLES */
/*====================================================================================================*/

:root {
    --black: #000;
    --gold: #ffd700;
    --white: #fff;
    --barons-black: #1b1818;
    --barons-brown: #c99f67;
    --barons-brown-dark: #745634;
    --barons-gold: #cdb14d;
    --barons-gold-alt: #f8cf50;
    --barons-grey-dark: #221f1f;
    --barons-grey: #403c3c;
    --barons-grey-light: #837978;
    --barons-red: #932f33;
    --barons-white: #f3e8c2;
    --grey-subtext: #ffffff55;

    --sans-font-1: "Oswald";
    --sans-font-2: "Monda";
    --sans-font-3: "Source Code Pro";
    --stylized-font-western: "Rye";
    --stylized-font-shadow: "Vast Shadow";
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100%;
}

h2 {
    color: var(--white);
    font-family: var(--sans-font-1);
    letter-spacing: 0.5px;
}

.flex {
    display: flex;
}

.hidden {
    display: none;
}

*, *:active {
    -webkit-tap-highlight-color: transparent !important;
}

/*-- start header styles -----------------------------------------------------------------------------*/

header {
    background-color: var(--barons-black);
    box-shadow: 0 0 5px 1.5px var(--black);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.header-container {
    align-items: center;
    border-bottom: 3px solid var(--barons-gold);
    height: 70px;
    justify-content: space-between;
    padding: 18px;
    width: 100%;
}

#header-logo-link {
    height: 80px;
    width: 81.59px;
    margin: 28px 0 0 -10px;
}

#oil-barons-header-logo {
    height: 100%;
    width: 100%;
}

#mobile-header-icons {
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    width: 80px;
}

#tickets-btn {
    height: 20px;
    margin-top: 3px;
}

#tickets-icon {
    height: 100%;
}

.header-links-container {
    display: none;
}

/*-- end header styles -------------------------------------------------------------------------------*/

/*-- start nav styles --------------------------------------------------------------------------------*/

.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    height: 20px;
    position: relative;
    width: 26px;
}

.hamburger, .hamburger::before, .hamburger::after {
    background: var(--white);
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    transition: all 0.3s ease;
    width: 26px;
}

.hamburger::before {
    top: -8px;
}

.hamburger::after {
    top: 8px;
}

.menu-toggle.is-active .hamburger {
    background: transparent;
}

.menu-toggle.is-active .hamburger::before {
    top: 0;
    transform: rotate(45deg);
}

.menu-toggle.is-active .hamburger::after {
    top: 0;
    transform: rotate(-45deg);
}

#mobile-nav {
    height: 100vh;
    left: 0;
    padding-top: 70px;
    position: fixed;
    top: 0;
    width: 0;
    transition: width 0s ease;
    transition-delay: 0.5s;
}

#mobile-nav.is-open {
    width: 100%;
    transition: width 0s ease;
}

#mobile-nav.is-open ~ footer .footer-nav-link {
    opacity: 0%;
    transition: all 0.3s ease;
    visibility: hidden;
}

#nav-primary-container {
    background-color: var(--barons-black);
    height: 100%;
    min-width: 100px;
    transform: translateX(-100%);
    transition: all 0.3s ease;
    visibility: hidden;
    width: 25%;
    z-index: 90;
}

#mobile-nav.is-open #nav-primary-container {
    transform: translateX(0);
    transition: all 0.5s ease;
    visibility: visible;
}

#nav-secondary-container {
    background-color: white;
    height: 100%;
    max-width: calc(100% - 100px);
    transform: translateX(-250%);
    transition: all 0.25s ease-in;
    visibility: hidden;
    width: 75%;
    z-index: 80;
}

#mobile-nav.is-open #nav-secondary-container {
    transform: translateX(0);
    transition: all 0.5s ease;
    visibility: visible;
}

#nav-primary, .sub-list {
    flex-direction: column;
    padding-top: 24px;
}

.primary-li, .sub-list a {
    display: inline-block;
    font-family: var(--sans-font-1);
    text-transform: uppercase;
}

.primary-li {
    color: var(--white);
    font-size: 15px;
    padding: 12px 16px;
    position: relative;
    width: 100%;
}

.active.primary-li {
    color: var(--barons-gold);
}

.active.primary-li::after {
    background-color: var(--white);
    content: "";
    display: block;
    height: 10px;
    opacity: 0%;
    position: absolute;
    right: -5px;
    top: 18px;
    transform: rotate(45deg);
    transition: opacity 0.3s ease-out, width 0.3s ease-out;
    width: 0;
}

#mobile-nav.is-open .active.primary-li::after {
    opacity: 100%;
    transition: opacity 0.3s ease-in, width 0.3s ease-in;
    width: 10px;
}

.sub-list {
    display: none;
    list-style: none;
}

.sub-list.active {
    display: block;
}

.sub-list li {
    border-bottom: 0.25px solid #1b181888;
    height: 46.5px;
    padding: 13.25px 18px;
    vertical-align: middle;
}

.sub-list li:last-of-type {
    border-bottom: none;
}

.sub-list a {
    color: var(--barons-black);
    display: block;
    font-size: 13px;
}

/*-- end nav styles ----------------------------------------------------------------------------------*/

/*-- start footer styles -----------------------------------------------------------------------------*/

footer {
    align-items: center;
    background-color: var(--barons-black);
    flex-direction: column;
    gap: 18px;
    padding: 15px 0;
    width: 100%;
}

#footer-header {
    font-weight: 400;
}

.footer-row {
    align-items: center;
    justify-content: space-evenly;
    max-width: 500px;
    width: 100%;
}

.footer-links-column {
    padding-left: 5%;
}

.footer-nav-link {
    color: var(--white);
    opacity: 75%;
    font-family: var(--sans-font-1);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 28px;
    visibility: visible;
    transition: all 0.3s ease;
}

.footer-divider {
    border: 1px solid #ffffff1a;
    max-width: 600px;
    width: 100%;
}

.social-link {
    height: 20px;
}

.social-icon {
    height: 100%;
}

#copyright {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}

#copyright, .privacy-terms-link, .privacy-terms-link:hover, .privacy-terms-link:active, .privacy-terms-link:visited {
    color: var(--grey-subtext);
}

/*-- end footer styles -------------------------------------------------------------------------------*/





/*-- TEMPORARY STYLES --*/

main {
    min-height: calc(100vh - 443.5px);
}

/*-- TEMPORARY STYLES --*/





/*====================================================================================================*/
/* END UNIVERSAL STYLES */
/*====================================================================================================*/



/*====================================================================================================*/
/* START RESPONSIVE STYLES */
/*====================================================================================================*/

@media screen and (min-width: 600px) {
    /* tablet header */
    /* tablet content */

    header {
        display: flex;
        flex-direction: column;
    }

    .header-container {
        border-bottom: none;
        padding-right: 7%;
    }

    #header-logo-link {
        height: 85.5px;
        width: 87.2px;
        margin: 35px 0 0 -5px;
    }

    .header-links-container {
        display: block;
        opacity: 100%;
        visibility: visible;
    }

    .header-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 7% 0 25%;
    }

    .header-links li {
        padding-bottom: 12px;
        border-bottom: 0px solid var(--barons-gold);
        transition: all 0.3s ease;
    }
    
    .header-links li:hover {
        padding-bottom: 9px;
        border-bottom: 3px solid var(--barons-gold);
        transition: all 0.3s ease;
    }

    .header-link {
        opacity: 100%;
        transition: opacity 0.3s ease;
        text-align: center;
        color: var(--white);
        width: 100%;
        font-family: var(--sans-font-1);
    }

    body.nav-open .header-links li{
        padding-bottom: 0px;
        font-size: 12px;
        transition: all 0.3s ease;
    }

    body.nav-open .header-link {
        opacity: 0%;
        visibility: hidden;
        transition: all 0.3s ease;
    }

    #mobile-nav {
        padding-top: 80px;
    }

}

@media screen and (min-width: 768px) {
    /* tablet footer */
}

@media screen and (min-width: 1024px) {
    /* laptop header */
    /* laptop content */
    /* laptop footer */
}

@media screen and (min-width: 1440px) {
    /* desktop header */
    /* desktop content */
}

@media screen and (min-width: 2560px) {
    /* 4k header */
    /* 4k content */
    /* 4k footer */
}

/*====================================================================================================*/
/* END RESPONSIVE STYLES */
/*====================================================================================================*/
