/*====================================================================================================*/
/* META INFORMATION */
/*====================================================================================================*/

/*

    ** FILE STRUCTURE **

    This css file is separated into logical sections, with subsection headers integrated within. The start
    of these sections are denoted by comments such as:

    /*=============================================================*/
    /* SECTION NAME */
    /*=============================================================*\

    The end of each primary section is marked with a comment such as: /* END ROOT STYLES *\
    Subsections have a single header comment such as:

    /*-- subsection name ------------------------------------------*\



    ** ORGANIZATION NOTES **

    - root variables are separated into logical groups, which are then sorted alphabetically
    - style selectors are organized by order of appearance in the related html document (universal classes notwithstanding).
    - universal classes selectors are organized by order of specificity, from most general to most specific
    - style properties are organized alphabetically

*/

/* END META INFORMATION */


/*====================================================================================================*/
/* ROOT STYLES */
/*====================================================================================================*/

:root {

    /*----- colors -----*/
    --barons-black: #1b1818;
    --barons-brown-light: #c99f67;
    --barons-brown-dark: #745634;
    --barons-gold: #cdb14d;
    --barons-grey-dark: #221f1f;
    --barons-grey: #403c3c;
    --barons-grey-light: #837978;
    --barons-red: #932f33;
    --barons-white: #f3e8c2;

    --black: #000;
    --gold: #ffd700;
    --white: #fff;

    /*----- fonts -----*/
    --sans-font-1: "Oswald";
    --sans-font-2: "Oxanium";

}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

*, *:active {
    -webkit-tap-highlight-color: transparent !important;
}

html {
    background-color: var(--barons-black);
    color: var(--white);
    font-size: 15px;
    font-family: sans-serif;
    font-family: var(--sans-font-1), sans-serif;
}

body {
    background-color: var(--white);
}

/* hide body overflow when article is open */
body.modal-open {
    overflow: hidden;
}

main {
    padding-top: 106.5px;
}

a, button, input, select, textarea {
    font: inherit;
    color: inherit;
}

.section-heading {
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.article-heading {
    font-size: 1.4rem;
    font-weight: 400;
}

/* END ROOT STYLES */


/*====================================================================================================*/
/* UNIVERSAL CLASSES */
/*====================================================================================================*/

.min768px, .min1024px, .min1440px, .min2560px {
    display: none;
}

.mobile-only, .max768px, .max1024px, .max1440px {
    display: block;
}

/* END UNIVERSAL CLASSES */


/*====================================================================================================*/
/* HEADER STYLES */
/*====================================================================================================*/

/*-- top header section ------------------------------------------------------------------------------*/
header {
    background-color: var(--barons-black);
    box-shadow: 0 0 5px 1.5px var(--black);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header-wrapper {
    align-items: center;
    box-shadow: 0 0 5px 0.5px var(--black);
    display: flex;
    height: 70px;
    justify-content: space-between;
    padding: 18px 18px 18px 14px;
    width: 100%;
}

#header-logo-link {
    height: 58px;
}

#oil-barons-header-logo {
    height: 100%;
    width: 100%;
}

#mobile-header-icons {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    width: 80px;
}

#tickets-btn {
    height: 20px;
    margin-top: 3px;
}

#tickets-icon {
    height: 100%;
}

/*-- mobile header links ----------------------------------------------------------------------------*/
.header-links {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 13%;
}

.header-links li {
    border-bottom: 0px solid var(--barons-gold);
    padding-bottom: 7px;
    padding-top: 7px;
    transition: all 0.3s ease;
}

.header-links li:hover, .header-links li:active {
    border-bottom: 3px solid var(--barons-gold);
    padding-bottom: 4px;
    transition: all 0.3s ease;
}

.header-link {
    color: var(--white);
    font-family: var(--sans-font-1);
    opacity: 100%;
    text-align: center;
    transition: opacity 0.3s ease;
    width: 100%;
}

body.nav-open .header-links li {
    font-size: 0px;
    padding: 0px;
    transition: all 0.3s ease;
}

body.nav-open .header-link {
    opacity: 0%;
    transition: all 0.3s ease;
    visibility: hidden;
}

/*-- hamburger icon styles ---------------------------------------------------------------------*/
.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    height: 20px;
    position: relative;
    width: 26px;
}

.hamburger, .hamburger::before, .hamburger::after {
    background: var(--white);
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    transition: all 0.3s ease;
    width: 26px;
}

.hamburger::before {
    top: -8px;
}

.hamburger::after {
    top: 8px;
}

.menu-toggle.is-active .hamburger {
    background: transparent;
}

.menu-toggle.is-active .hamburger::before {
    top: 0;
    transform: rotate(45deg);
}

.menu-toggle.is-active .hamburger::after {
    top: 0;
    transform: rotate(-45deg);
}

/* END HEADER STYLES */


/*====================================================================================================*/
/* NAVIGATION STYLES */
/*====================================================================================================*/

/*-- mobile nav container styles ---------------------------------------------------------------------*/
#mobile-nav {
    padding-top: 80px;
}

#mobile-nav {
    display: flex;
    height: 100vh;
    left: 0;
    padding-top: 70px;
    position: fixed;
    top: 0;
    transition: width 0s ease;
    transition-delay: 0.5s;
    width: 0;
}

#mobile-nav.is-open {
    transition: width 0s ease;
    width: 100%;
}

#mobile-nav.is-open ~ footer *, #mobile-nav.is-open ~ main * {
    opacity: 0% !important;
    transition: all 0.3s ease !important;
    visibility: hidden !important;
}

#nav-primary-container {
    background-color: var(--barons-black);
    height: 100%;
    min-width: 100px;
    transform: translateX(-100%);
    transition: all 0.3s ease;
    visibility: hidden;
    width: 25%;
    z-index: 90;
}

#mobile-nav.is-open #nav-primary-container {
    transform: translateX(0);
    transition: all 0.5s ease;
    visibility: visible;
}

#nav-secondary-container {
    background-color: white;
    height: 100%;
    max-width: calc(100% - 100px);
    transform: translateX(-250%);
    transition: all 0.25s ease-in;
    visibility: hidden;
    width: 75%;
    z-index: 80;
}

#mobile-nav.is-open #nav-secondary-container {
    transform: translateX(0);
    transition: all 0.5s ease;
    visibility: visible;
}

/*-- mobile nav list styles --------------------------------------------------------------------------*/
.primary-li {
    font-size: 16px;
}

.sub-list a {
    font-size: 15px;
}

#nav-primary, .sub-list {
    display: flex;
    flex-direction: column;
    padding-top: 18px;
}

.primary-li, .sub-list a {
    display: inline-block;
    font-family: var(--sans-font-1);
    text-transform: uppercase;
}

.primary-li {
    color: var(--white);
    font-size: 15px;
    padding: 12px 16px;
    position: relative;
    width: 100%;
}

.active.primary-li {
    color: var(--barons-gold);
}

.active.primary-li::after {
    background-color: var(--white);
    content: "";
    display: block;
    height: 10px;
    opacity: 0%;
    position: absolute;
    right: -5px;
    top: 18px;
    transform: rotate(45deg);
    transition: opacity 0.3s ease-out, width 0.3s ease-out;
    width: 0;
}

#mobile-nav.is-open .active.primary-li::after {
    opacity: 100%;
    transition: opacity 0.3s ease-in, width 0.3s ease-in;
    width: 10px;
}

.sub-list {
    display: none;
    list-style: none;
}

.sub-list.active {
    display: block;
}

.sub-list li {
    border-bottom: 0.25px solid #1b181888;
    height: 46.5px;
    padding: 13.25px 18px;
    vertical-align: middle;
}

.sub-list li:last-of-type {
    border-bottom: none;
}

.sub-list a {
    color: var(--barons-black);
    display: block;
    font-size: 13px;
}

/* END NAVIGATION STYLES */


/*====================================================================================================*/
/* MOBILE SPONSORS */
/*====================================================================================================*/

section#mobile-sponsors {
    position: fixed;
    bottom: 12px;
    right: 12px;
    z-index: 900;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

body.nav-open section#mobile-sponsors {
    opacity: 0;
    visibility: hidden;
}

.mobile-sponsor, .mobile-sponsor img {
    max-height: 45px;
    max-width: 80px;
    object-fit: contain;
}

.mobile-sponsor img {
    opacity: 0;
    transition: opacity 0.8s ease;
    pointer-events: none;
}

.mobile-sponsor.active img {
    opacity: 1;
    pointer-events: auto;
}

/* END MOBILE SPONSORS */


/*====================================================================================================*/
/* FOOTER STYLES */
/*====================================================================================================*/

footer {
    align-items: center;
    background-color: var(--barons-black);
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 15px 0;
    width: 100%;
}

.footer-row {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    max-width: 500px;
    width: 100%;
}

#footer-header {
    font-weight: 400;
}

.footer-links-column {
    padding-left: 2%;
}

.footer-nav-link {
    color: var(--white);
    font-family: var(--sans-font-1);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 28px;
    opacity: 75%;
    visibility: visible;
    transition: all 0.3s ease;
}

.footer-divider {
    border: 1px solid #ffffff1a;
    max-width: 600px;
    width: 100%;
}

.social-link {
    height: 20px;
}

.social-icon {
    height: 100%;
}

#footer-header {
    color: var(--white);
    font-family: var(--sans-font-1);
    letter-spacing: 0.5px;
    font-weight: 400;
}

#copyright {
    font-size: 12px;
    line-height: 18px;
    opacity: 40%;
    text-align: center;
    transition: all 0.3s ease;
    visibility: visible;
}

/* END FOOTER STYLES */


/*====================================================================================================*/
/* RESPONSIVE STYLES - min 768px */
/*====================================================================================================*/

@media screen and (min-width: 768px) {

    /*-- universal toggles ---------------------------------------------------------------------------*/
    .mobile-only { display: none !important; }
    .min768px { display: block; }

}

/* END RESPONSIVE STYLES - min 768px */


/*====================================================================================================*/
/* RESPONSIVE STYLES - min 1024px */
/*====================================================================================================*/

@media screen and (min-width: 1024px) {

    /*-- universal toggles ---------------------------------------------------------------------------*/
    .mobile-only, .max768px { display: none !important; }
    .min1024px { display: block; }

    /*-- header sponsors bar -------------------------------------------------------------------------*/
    .header-sponsors-wrapper {
        align-items: center;
        background-color: var(--barons-black);
        box-shadow: inset 0 1px 8px 0 var(--black);
        display: flex;
        height: 50px;
        justify-content: space-between;
        padding: 0 28px;
    }

    #presented-by {
        color: var(--barons-gold);
        font-family: var(--sans-font-1);
        font-size: 15px;
        text-align: center;
        width: 81px;
    }

    .header-partner {
        height: 40px;
        padding: 3px 20px 0;
    }

    .partner-tier {
        align-items: center;
        display: flex;
        gap: 16px;
        height: 50px;
        inset: 0;
        justify-content: center;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        transition: opacity 1s ease;
    }
    
    .partner-tier.active {
        opacity: 1;
        pointer-events: auto;
    }

    .tier-heading {
        color: var(--barons-gold);
        font-family: var(--sans-font-1);
        opacity: 0;
        transition: opacity 0.8s ease;
    }
    
    .tier-heading.active {
        opacity: 1;
    }

    /*-- header navigation ---------------------------------------------------------------------------*/
    .header-wrapper {
        height: 70px;
        padding: 14px 28px;
    }

    .desktop-nav-list {
        align-items: center;
        box-sizing: content-box;
        display: flex;
        gap: 48px;
        height: 70px;
        justify-content: flex-end;
        margin-right: 18px;
        margin-top: 1px;
    }

    .desktop-nav-tab {
        height: 100%;
    }
    
    .desktop-nav-link {
        align-items: center;
        color: var(--white);
        display: flex;
        font-family: var(--sans-font-1);
        height: 100%;
    }

    .desktop-nav-link:hover {
        color: var(--barons-gold);
        transition: color 0.1s ease;
    }

    .desktop-nav-dropdown {
        color: var(--barons-black);
        background: var(--white);
        border-radius: 0 0 4px 4px;
        border-top: 5px solid var(--barons-gold);
        box-shadow: 0 4px 4px 0 var(--black);
        line-height: 40px;
        min-width: 200px;
        opacity: 0;
        padding: 8px 24px 8px 16px;
        position: fixed;
        top: 118px;
        transform: translateY(6px);
        transition: opacity 120ms ease, transform 120ms ease;
        visibility: hidden;
        z-index: 1000;
    }

    .dropdown-link {
        font-family: var(--sans-font-1);
        transition: color 0.1s ease;
    }

    .dropdown-link:hover {
        color: var(--barons-gold);
        cursor: pointer;
        transition: color 0.1s ease;
    }

    .has-dropdown::after {
        content: "";
        opacity: 0%;
    }

    .has-dropdown.open::after {
        background-color: var(--barons-gold);
        border-radius: 0 0 100% 0;
        content: "";
        display: block;
        height: 10px;
        opacity: 100%;
        transform: rotate(45deg) translateX(3.5px) translateY(-15px);
        transition: opacity 100ms ease;
        transition-delay: 20ms;
        width: 10px;
    }

    .has-dropdown.open > .desktop-nav-dropdown {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }

}

/* END RESPONSIVE STYLES - min 1024px */


/*====================================================================================================*/
/* RESPONSIVE STYLES - min 1440px */
/*====================================================================================================*/

@media screen and (min-width: 1440px) {

    /*-- universal toggles ---------------------------------------------------------------------------*/
    .mobile-only, .max768px, .max1024px { display: none !important; }
    .min1440px { display: block; }

}

/* END RESPONSIVE STYLES - min 1440px */


/*====================================================================================================*/
/* RESPONSIVE STYLES - min 2560px */
/*====================================================================================================*/

@media screen and (min-width: 2560px) {

    /*-- universal toggles ---------------------------------------------------------------------------*/
    .mobile-only, .max768px, .max1024px, .max1440px { display: none !important; }
    .min2560px { display: block; }

}

/* END RESPONSIVE STYLES - min 2560px */