/*====================================================================================================*/
/* START ROOT STYLES & UNIVERSAL CLASSES */
/*====================================================================================================*/


/*-- root styles -------------------------------------------------------------------------------------*/
:root {
    --white: #fff;
    --black: #000;

    --barons-black: #1b1818;
    --barons-gold: #cdb14d;

    --sans-font-1: "Oswald";
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

*, *:active {
    -webkit-tap-highlight-color: transparent !important;
}

html {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
}

a, button, input, select, textarea {
    font: inherit;
    color: inherit;
}

/*-- universal classes -------------------------------------------------------------------------------*/

/*====================================================================================================*/
/* END ROOT STYLES & UNIVERSAL CLASSES */
/*====================================================================================================*/